html{
    font-family: 'Roboto', sans-serif;
    background-color: var(--fundo-escuro);
    color: var(--texto-principal);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--fundo-card);
    
}
nav .header-logo-pesquisa{
    display: flex;
    padding: 10px;
    }

input{
    background: var(--input);
    border: none;
    margin-left: 5px;
    width: 250px;

}
input::placeholder{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--texto-principal);
    margin-left: 20px;
    background: url(/src/imagens/search.svg) no-repeat;
    padding-left: 25px;
    }


nav .icones{
    display: flex;
    
}
li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding: 5px 20px;
    font-size: 14px;
    font-weight: 400;
}
.solucoes{
    border-left: 1px solid white;
}
.perfil{
    margin-top: 20px;
    background-color: var(--fundo-card);
    display: flex;
    flex-direction: column;
    width: 780px;
    border-radius:  16px;
}
.perfil .imagens{
    display: flex;
    position: relative;
  
}

.perfil .foto-perfil{
   position: absolute;
   transform: translateY(50px);
   align-self: flex-end;
    width: 160px;
   
}
.perfil .informacoes{
    margin-top: 56px;
    margin-bottom: 24px;
    margin-left: 24px;
    display: flex;
    

}
.informacoes-perfil h1{
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 5px;
}
.informacoes-perfil h2{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}
.informacoes-perfil .comentario,
.informacoes-perfil .cidade
{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
    color:var(--texto-secundario);
}
.informacoes-perfil .cidade span{
    font-weight: 700;
    color: var(--primario);
}
.informacoes-perfil .seguidores,
.informacoes-perfil a{
    font-weight: 500;
    color: var(--primario);
    font-size: 14px;
    margin-bottom: 15px;
}
.btn{
    border: 1px solid;
    border-radius:16px;
    padding: 10px;
}
.btn.mensagem{
    color: var(--texto-escuro);
    background-color: var(--primario);
}
.instituicoes{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    gap: 10px;
    
}
.instituicoes .empresa,
.instituicoes .faculdade{
    display: flex;
    align-items: center;
    text-align: center;
    
    
}
.instituicoes .empresa:before{
    content: url('/src/imagens/empresa.png');
    padding-right: 5px ;
}
.instituicoes .faculdade:before{
    content: url('/src//imagens/ensino.png');
    padding-right: 5px ;
}